@import reset
@import compass

@keyframes 'blink'
  0%
    background: rgba(255, 0, 0, 0.5)
  50%
    background: rgba(255, 0, 0, 0)
  100%
    background: rgba(255, 0, 0, 0.5)


@font-face
  font-family: 'VT323'
  font-style: normal
  font-weight: normal
  src: local("VT323"), url('/webfont.woff') format("woff")


body
  background-color: #000
  background-image: url('/img/bg.jpg')
  color: #fff
  font-family: 'VT323'
  font-size: 32px
  padding: 0
  position: relative
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none

h1
  margin-bottom: 20px
  font-size: 64px
  text-align: center
  background-color: #000
  padding: 4px
  letter-spacing: 2px

span
  color: #ff0000
  margin-right: 5px

#content
  width: 1200px
  display: block
  margin: 0 auto 100px

  ul
    display: -webkit-box
    display: -moz-box
    display: -ms-box
    display: box
    -webkit-box-orient: horizontal
    -moz-box-orient: horizontal
    -ms-box-orient: horizontal
    box-orient: horizontal
    -webkit-box-align: stretch
    -moz-box-align: stretch
    -ms-box-align: stretch
    box-align: stretch

    padding: 4px 8px
    width: 1200px
    background-color: #000
    text-align: center
    & > li
      -webkit-box-flex: 1
      -mox-box-flex: 1
      box-flex: 1

      min-width: 10%
      white-space: nowrap
      background-color: #000
      margin: 4px
      padding: 2px 8px
      border: 4px solid #fff
      font-size: 32px
      cursor: pointer
      text-align: center

      &:hover
        background-color: #fff
        color: #000
      &.hover
        background-color: #fff
        color: #000
        background-color: #ff0000

#status
  display: block
  background-color: #000
  padding: 15px
  color: #fff
  font-size: 32px
  text-align: left
  left: 0
  bottom: 0
  width: 50%
  position: fixed
  span
    color: #f00
    text-transform: uppercase
#options
  background-color: #000
  height: 32px
  padding: 15px
  color: #fff
  text-align: right
  width: 20%
  position: fixed
  right: 0
  bottom: 0
  .option
    padding: 15px
    font-size: 32px
    color: #fff
    text-align: right
    cursor: pointer
    display: inline
    span
      color: #33f
    .checkbox
      margin: 0 3px
      color: #0f0
#searchbox
  left: 50%
  display: inline-block
  background-color: #000
  padding: 15px
  z-index: 1
  color: #fff
  font-size: 32px
  text-align: left
  width: 30%
  position: fixed
  left: 50%
  bottom: 0
  height: 32px
  input
    font-size: 22px
    width: 150px

#overlay
  background: #000
  position: fixed
  top: 70px
  bottom: 60px
  left: 0
  right: 0
  z-index: 1000
  opacity: 0.8

// tablets, medium screens and small screens
@media only screen and (max-width: 1300px)

  #searchbox, #options, #status
    position: absolute
    top: 100px
    left: auto
    bottom: auto
    display: block
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    width: 100%
    margin: 0
    padding: 4px 10%
    height: auto

  #searchbox
    top: 150px

  #status
    top: 200px

  #content
    margin-top: 200px
    width: auto
    ul
      display: block
      width: auto
      margin: 0 auto
      text-align: center
      li
        display: inline-block
        width: 40%


// really small screens
@media only screen and (max-width: 700px)
  #content
    width: auto
    ul
      display: block
      width: auto
      li
        display: block
        width: auto
