@import reset
@import compass

@keyframes 'blink'
  0%
    background: rgba(255, 0, 0, 0.5)
  50%
    background: rgba(255, 0, 0, 0)
  100%
    background: rgba(255, 0, 0, 0.5)


@font-face
  font-family: 'VT323'
  font-style: normal
  font-weight: normal
  src: local("VT323"), url('/webfont.woff') format("woff")


body
  background-color: #000
  background-image: url('/img/bg.jpg')
  color: #fff
  font-family: 'VT323'
  font-size: 32px
  padding: 0
  position: relative
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none

h1
  margin-bottom: 20px
  font-size: 64px
  text-align: center
  background-color: #000
  padding: 4px
  letter-spacing: 2px

span
  color: #ff0000
  margin-right: 5px

#content
  width: 1200px
  display: block
  margin: 0 auto

ul
  display: block
  padding: 4px
  width: 1200px
  background-color: #000
  display: -webkit-box
  -webkit-box-orient: horizontal
  display: -moz-box
  -moz-box-orient: horizontal
  display: box
  box-orient: horizontal
  > li
    background-color: #000
    margin: 4px
    -webkit-box-flex: 1
    -moz-box-flex: 1
    box-flex: 1
    padding: 2px 8px
    border: 4px solid #fff
    font-size: 32px
    cursor: pointer
    text-align: center

li
  &:hover
    background-color: #fff
    color: #000
  &.hover
    background-color: #fff
    color: #000
    background-color: #ff0000

div
  &#status
    display: block
    background-color: #000
    padding: 15px
    color: #fff
    font-size: 32px
    text-align: left
    left: 0
    bottom: 0
    width: 50%
    position: fixed
    span
      color: #f00
      text-transform: uppercase
  &#options
    background-color: #000
    height: 32px
    padding: 15px
    color: #fff
    text-align: right
    width: 50%
    position: fixed
    right: 0
    bottom: 0
  &.option
    background-color: #000
    padding: 15px
    font-size: 32px
    color: #fff
    text-align: right
    cursor: pointer
    display: inline
    span
      color: #33f
    .checkbox
      margin: 0 3px
      color: #0f0

#overlay
  background: #000
  position: fixed
  top: 70px
  bottom: 60px
  left: 0
  right: 0
  z-index: 1000
  opacity: 0.8
